.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    height: 44px !important;
    width: 450px;
    background-color: transparent;

}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root:hover {
    border: transparent !important;
    outline-color: transparent !important;

}

.MuiOutlinedInput-notchedOutline .MuiOutlinedInput-notchedOutline:hover .MuiOutlinedInput-notchedOutline:focus{
    border: none !important;
}


.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    font-family: HakgyoansimWoojuR, sans-serif !important;
    text-align: center;
    font-size: 18px !important;
    display: flex;
    align-items: center;
    position: absolute;
    line-height: 0.99em !important;
    overflow: visible;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
    font-family: HakgyoansimWoojuR, sans-serif !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
    font-family: HakgyoansimWoojuR, sans-serif !important;
}

/*.css-1g7jl8d-MuiFormControl-root {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/
