.css-1x51dt5-MuiInputBase-input-MuiInput-input {
    font-family: HakgyoansimWoojuR, sans-serif !important;
    font-size: 18px !important;
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root {
    font-family: HakgyoansimWoojuR, sans-serif !important;
}
label[data-shrink=false]+.MuiInputBase-formControl .css-1x51dt5-MuiInputBase-input-MuiInput-input {
    font-family: HakgyoansimWoojuR, sans-serif !important;
}

.search-style {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
}

.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root:after {
    font-family: HakgyoansimWoojuR, sans-serif !important;
    color: rgba(0, 0, 0, 0.5) !important;
}


.css-v4u5dn-MuiInputBase-root-MuiInput-root:after {
    border-bottom: 2px solid rgba(0, 0, 0, 0.5) !important;
}

.css-v4u5dn-MuiInputBase-root-MuiInput-root {
    font-family: HakgyoansimWoojuR, sans-serif !important;
}

.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
    font-family: HakgyoansimWoojuR, sans-serif !important;
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: rgba(0, 0, 0, 0.5) !important;


}