.test {
    display: flex;
    z-index: 999;
}

.react-datepicker__input-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.react-datepicker__input-container input {
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: 15px;
    padding: 10px;
}