.test {
    display: flex;
    z-index: 999;
}

.react-datepicker__input-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.react-datepicker__input-container input {
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: 15px;
    padding: 12px;
    border-inline: none;
    border-radius: 4px;
    margin-top: 5px;
    border: 1px solid rgba(222, 226, 230, 1);
}


.react-datepicker__input-container input:focus-visible input:focus{
    border: 1px solid rgba(0, 0, 0, 0.5);
    outline: none;

}

