@font-face {
  font-family: 'HakgyoansimWoojuR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: HakgyoansimWoojuR, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: HakgyoansimWoojuR, sans-serif;
}

li{
  list-style: none;
}

ul{
  list-style: none;
  padding-left: 10px;
}

h3{
  text-align: left;
  padding-right:300px;
  margin-bottom:0px;
}

